<div class="container mt-4" style="width: 50% !important;">
    <div class="d-flex justify-content-center">
        <h2>Contacto</h2>
    </div>
    <div clas="row">
        <form #formulario="ngForm" (ngSubmit)="onSubmit()" >
            <div class="mb-3 mt-4">
                <label for="email" class="form-label"> Email address<address></address></label>
                <input pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" required class="form-control" name="email" id="email" type="email" [(ngModel)]="email" aria-describedby="emailVal">
                <div *ngIf="formulario.controls['email'].invalid" id="emailVal" class="form-text">
                    Debes de ingresar un email correcto
                </div>
            </div>
    
            <div class="row">
            <div class="col-6">
                <label for="email" class="form-label"> Nombre</label>
                <input required class="form-control" name="nombre" id="nombre" type="text" [(ngModel)]="nombre" aria-describedby="nameVal">
                <div *ngIf="formulario.controls['nombre'].invalid" id="nameVal" class="form-text">
                    Este campo es obligatorio
                </div>
            </div>
    
            <div class="col-6">
                <label for="email" class="form-label"> Apellido</label>
                <input required class="form-control" name="apellido" id="apellido" type="text" [(ngModel)]="apellido" aria-describedby="nameVal">
                <div *ngIf="formulario.controls['apellido'].invalid" id="nameVal" class="form-text">
                    Este campo es obligatorio
                </div>
            </div>
        </div>
            <div class="d-flex justify-content-center mt-4">
                <button [disabled]="formulario.invalid" class="btn - btn-primary" type="submit">
                    Enviar
                </button>
            </div>
        </form>
    </div>
    

    </div>
   


